@import 'https://fonts.googleapis.com/css2?family=Quicksand&display=swap';
body {
  padding-top: 100px;
  background-color: #ececec;
}
*:hover, *:active, *:focus, *:visited {
  outline: none;
}
.App {
  margin: 0 auto;
  width: 500px;
  padding: 50px;
  background-color: #fff;

}
.create-form {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.todo-container {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}
.todo-meta {
  display: flex;
  align-items: center;
}
.todo-app-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid black;
}
.meta-icon {
  height: 1rem;
  margin-right: 5px;
}
.checkbox {
  height: 30px;
  width: 30px;
}
button {
  margin-top: 25px;
}
.button-add {

}
.button-filter {

}
.button-clear {
  width: 100%;
}