@import 'https://fonts.googleapis.com/css2?family=Quicksand&display=swap';
body {
  min-height: 100vh;
  background-color: #F0EFE9;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
*:hover, *:active, *:focus, *:visited {
  outline: none;
}
.App {
  width: 100%;
  padding: 50px;
  background-color: #fff;
}
.create-form {
  display: flex;
  flex-direction: column;
}
.todo-info {
  display: flex;
  align-items: center;
}
/* elements */
button {
  width: 100%;
  border: none;
}
button:hover, button:active, button:focus {
  outline: none;
}
input, select {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #f2f2f2ff;
}
input[type="checkbox"] {
  height: 30px;
  width: 30px;
}
/* timestamp */
.timestamp {
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #565969;
}
/* create */
.button-add {
  margin-top: 25px;
  color: #fff;
  background-color: #50E3A4;
}  
/* listing */
.todo-container {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f2f2f2ff;
}
.meta-icon {
  height: 1rem;
  margin-right: 5px;
}
.button-clear {
  width: 100%;
  margin: 25px 0;
}
/* appMeta */
.todo-app-meta {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
}